* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}
.top {
    height: 800px;
    background: 
    url(images/stars.svg) 854px -334px no-repeat,
    url(images/stars2.svg) 948px 538px no-repeat,
    url(images/stars3.svg) 63px 69px no-repeat,
    linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143));
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
    padding-bottom: 156px;
    position: relative;
}
.heading__title {
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 196px;
}

.heading__title_mob {
    display: none;
}

.heading__small {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.heading__small_bold {
    font-weight: 600;
}

.heading__small_mob {
    display: none;
}

.heading__button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    height: 66px;
    width: 247px;
    margin-top: 24px;
    align-content: center;
    transition: 1s;
}
.heading__button:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(32, 32, 39);
    background: white;
}
.animation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 51px;
    height: 90px;
    width: 100%;
    background-color: rgb(188, 236, 48);
    position: absolute;
    top: 710px;
    z-index: 1;
}

.animation__text {
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
}

.content {
    background: 
    url(images/content-star1.svg) 933px 146px no-repeat,
    url(images/content-star2.svg) 25px 770px no-repeat,
    url(images/content-star3.svg) 1277px 1563px no-repeat,
    url(images/content-star4.svg) 1249px 4836px no-repeat,
    linear-gradient(rgb(32, 32, 39),rgb(32, 32, 39));
}

.about__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.about__descriptionbox {
   
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.about__heading {
    margin-top: 94px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}

.about__description {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 72px;
}
.about__column {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.about__linkbox {
    background-color: white;
    border-radius: 30px;
    width: 378px;
    height: 473px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.about__linkbox:hover {
    transform: scale(1.1);
}
.about__link {
    text-decoration: none;
}
.about__image {
    width: 378px;
    height: 314px; 
    border-radius: 30px; 
}
.about__textbox {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px;
}
.about__count {
    display: inline-block;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    box-sizing: border-box;
    padding: 8px 16px;
    max-width: 115px;
}

.about__game {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

.about__linkbox_half {
    height: 512px;
}
.about__linkbox_big {
    height: 551px;
}

.games__box {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-bottom: 144px;
}
.games__card {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.games__card:nth-child(even) {
    flex-direction: row-reverse;
}

.games__image {
    width: 50%;
    border-radius: 30px;
}

.games__discription {
    width: 50%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
}
.games__heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 96px;
    margin-bottom: 72px;
}

.games__name {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
}

.games__task {
    color: rgb(32, 32, 39);    
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
}

.games__button {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;    
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
}
button {
    transition: 1s;
}

button:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(32, 32, 39);
    background: white;
}
.footer {
    min-height: 150px;
    background-color: rgb(189, 237, 53);
}

.footer__text {
    color: rgb(0, 0, 0);    
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 61px;
}

@media (min-width: 1025px) and (max-width: 1320px) {
    .center {
        padding-left: calc(50% - 1025px/2);
        padding-right: calc(50% - 1025px/2);
    }

    .about__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__column {
        flex-direction: row;
        column-gap: 60px;
    }

    .about__linkbox {
        height: 512px;
    }
}

@media (min-width:800px) and (max-width: 1024px) {
    .center {
    padding-left: calc(50% - 786px/2);
    padding-right: calc(50% - 786px/2);
    }

    .top {
        background: 
        url(images/stars.svg) 250px -334px no-repeat,
        url(images/stars2.svg) 550px 600px no-repeat,
        url(images/stars3.svg) 63px 69px no-repeat,
        linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143));
    }


   .content {
    background: 
    url(images/content-star1.svg) 400px 100px no-repeat,
    url(images/content-star3.svg) 550px 2030px no-repeat,
    url(images/content-star4.svg) 550px 4900px no-repeat,
    linear-gradient(rgb(32, 32, 39),rgb(32, 32, 39));
}

    .about__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px; 
    }

    .about__column {
        flex-direction: row;
        column-gap: 15px;
    }

    .about__linkbox {
        height: 512px;
    }
    .about__linkbox:hover {
        transform: scale(1.01);
    }
    .about__game {
        font-size: 28px;
    }

    .games__heading {
        margin-top: 72px;
    }
    .games__name {
        font-size: 40px;
    }
    .games__task {
        font-size: 20px;
    }
}

     
@media (max-width: 800px) {
    .top {
        height: 700px;
        background: 
        url(images/stars_for_ipadmini.svg) 550px -90px no-repeat,
        url(images/stars2.svg) 550px 500px no-repeat,
        url(images/stars3.svg) 63px 69px no-repeat,
        linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143));
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .heading {
        align-items: center;
        padding-bottom: 131px;
    }

    .heading__title {
        display: none;
    }

    .heading__title_mob {
        display: flex;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 147px;
        padding-left: 41px;
        padding-right: 41px;
        
    }
    .heading__description {
        display: none;
    }
    .heading__small_mob {
        display: inline;
        padding-left: 24px;
        padding-right: 24px;
    }

    .heading__small {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }

    .heading__small_bold {
        font-weight: 600;
    }

    .heading__button {
        font-size: 16px;
        font-weight: 600;
        width: 285px;
        height: 55px;
        margin-top: 12px;
    }

    .animation {
        height: 51px;
        top: 649px;
    }
     /* Временно до создания эффекта анимации */
    .animation__text {
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
    }

    .animation__image {
        width: 19px;
    }

    .about {
        display: none;
    }
    .games__heading {
        margin-top: 0;
        padding-top: 48px;
        margin-bottom: 48px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }
    .games__card {
        flex-direction: column-reverse;
        border-radius: 38px;
    }
    .games__card:nth-child(even) {
        flex-direction: column-reverse;
    }

    .games__image {
        width: 100%;
    }

    .games__name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

    .games__task {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
        width: 100%;
    }

    .games__button {
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        height: 55px;
        margin-top: 16px;
        width: 100%;
        margin-right: 29px;
        box-sizing: border-box;
    }

    .games__discription {
        row-gap: 16px;
        padding-top: 29px;
        padding-bottom: 33px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 29px;
        padding-right: 29px;
    }

    .games__box {
        row-gap: 24px;
        padding-bottom: 49px;
    }

    .footer {
        min-height: 100px;
    }

    .footer__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding-top: 41px;
    }
}

@media (max-width: 376px) {
    .top {
    background: 
        url(images/stars-mobile.svg) 38px -104px no-repeat,
        url(images/stars-mobile2.svg) 273px 557px no-repeat,
        linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143));
    }
}

@media (min-width: 1600px) and (max-width:1999px) {
    .top {
    background: 
    url(images/stars.svg) 1000px -334px no-repeat, 
    url(images/stars2.svg) 1050px 538px no-repeat, 
    url(images/stars3.svg) 150px 69px no-repeat, 
    linear-gradient(rgb(225, 255, 143), rgb(225, 255, 143));
    }
    .content {
        background: url(images/content-star1.svg) 1080px 146px no-repeat, 
        url(images/content-star2.svg) 100px 770px no-repeat, 
        url(images/content-star3.svg) 1400px 1563px no-repeat, 
        url(images/content-star4.svg) 1400px 4836px no-repeat, 
        linear-gradient(rgb(32, 32, 39), rgb(32, 32, 39));
    }

}
@media (min-width: 2000px) and (max-width: 2499px) {
    .top {
        background: 
        url(images/stars.svg) 1600px -334px no-repeat,
        url(images/stars2.svg) 1600px 538px no-repeat,
        url(images/stars3.svg) 400px 69px no-repeat,
        linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143))
    }
    .content {
        background: 
        url(images/content-star1.svg) 1400px 146px no-repeat, 
        url(images/content-star2.svg) 350px 770px no-repeat, 
        url(images/content-star3.svg) 1700px 1563px no-repeat, 
        url(images/content-star4.svg) 1700px 4836px no-repeat, 
        linear-gradient(rgb(32, 32, 39), rgb(32, 32, 39));
    }
    }

@media (min-width: 2500px) {
    .top {
        background: 
        url(images/stars.svg) 2600px -334px no-repeat,
        url(images/stars2.svg) 2500px 538px no-repeat,
        url(images/stars3.svg) 800px 69px no-repeat,
        linear-gradient(rgb(225, 255, 143),rgb(225, 255, 143))
    }
    .content {
        background: 
        url(images/content-star1.svg) 1900px 146px no-repeat, 
        url(images/content-star2.svg) 900px 770px no-repeat, 
        url(images/content-star3.svg) 2200px 1563px no-repeat, 
        url(images/content-star4.svg) 2200px 4836px no-repeat, 
        linear-gradient(rgb(32, 32, 39), rgb(32, 32, 39));
    }
}
